name: Build and release

on:
  push:
    branches: [ "main" ]

env:
  VERSION: v${{ vars.VERSION_MAJOR }}.${{ vars.VERSION_MINOR }}.${{ github.run_number }}

jobs:
  build:
    strategy:
      matrix:
        os: ["ubuntu"]
      
    runs-on: ${{ matrix.os }}-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25'
        
    - name: Test
      run: go test -v ./...

    - name: Code Coverage
      if: matrix.os == 'ubuntu'
      run: go test $(go list ./... | grep -Ev "(cmd|infra|main|model)") -coverprofile=coverage.txt
      
    - name: Build (linux)
      if: matrix.os == 'ubuntu'
      run: go build -ldflags "-X main.versionTool=${{ env.VERSION }}" -v -o ./bin/prev-updater-${{ matrix.os }} ./cmd/main.go 

    - name: Build (windows)
      if: matrix.os == 'windows'
      run: go build -ldflags "-X main.versionTool=${{ env.VERSION }}" -v -o ./bin/prev-updater-${{ matrix.os }}.exe .\cmd\main.go
      
    - name: Upload coverage reports to Codecov
      if: matrix.os == 'ubuntu'
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

    - name: Publish artifact
      uses: actions/upload-artifact@v4.6.2
      with:
        name: prev-updater-${{ matrix.os }}
        path: ./bin

  release:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Download windows artifact
        uses: actions/download-artifact@v5.0.0
        with:
          path: ./bin
          
      - name: Display Artifact
        run: ls -al ./bin
        
      - name: Create Draft Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        with:
          tag_name: ${{ env.VERSION }}
          release_name: pre-updater-${{ env.VERSION }}
          draft: true
          prerelease: false

      - uses: actions/upload-release-asset@v1.0.1
        name: Upload windows binaire
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./bin/prev-updater-windows/prev-updater-windows.exe
          asset_name: prev-updater-windows-${{ env.VERSION }}.exe
          asset_content_type: application/octet-stream
          
      - uses: actions/upload-release-asset@v1.0.1
        name: Upload linux binaire
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./bin/prev-updater-ubuntu/prev-updater-ubuntu
          asset_name: prev-updater-linux-${{ env.VERSION }}
          asset_content_type: application/octet-stream

      - uses: eregon/publish-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        with:
          release_id: ${{ steps.create_release.outputs.id }}
